html {
  box-sizing: border-box;
  font-family: $ecl-font-family-base;
  font-size: map-get($ecl-font-size, 'm');
}

.Header {
  background-color: $ecl-color-primary;
}

.Frame-panel--sidebar {
  background-color: map-get($ecl-colors, 'grey-5');
  padding: map-get($ecl-spacing, 's') 0;
}

[dir="ltr"] .Frame-panel--sidebar {
  border-right: 1px solid rgba(0, 0, 0, 0.07);
}

.Navigation-group + .Navigation-group {
  margin-top: map-get($ecl-spacing, 'l');
}

.Tree-items {
  border-top: 1px solid map-get($ecl-colors, 'grey-10');
  border-bottom: 1px solid map-get($ecl-colors, 'grey-10');
}

.Tree-items > li + li {
  border-top: 1px solid map-get($ecl-colors, 'grey-10');
}

.Tree-collectionItems {
  border-top: 1px solid map-get($ecl-colors, 'grey-10');
}

.Tree-depth-1 li {
  line-height: 2.5;
  font-size: map-get($ecl-font-size, 'm');
}

.Tree-entityLink {
  color: map-get($ecl-colors, 'grey-100');
}

.Tree-entityLink:hover {
  background-color: map-get($ecl-colors, 'grey-15');
}

.is-current .Tree-entityLink {
  color: $ecl-color-primary;
}

.Tree-collectionItems {
  background-color: map-get($ecl-colors, 'grey-5');
}

.Tree-collectionItems .Tree-collectionItems {
  background-color: map-get($ecl-colors, 'grey-10');
}

.Tree-collectionItems .Tree-collectionItems .Tree-collectionItems {
  background-color: map-get($ecl-colors, 'grey-15');
}

.Tree-collectionLabel {
  font: inherit;
}

.Tree-collectionLabel:hover {
  background-color: map-get($ecl-colors, 'grey-15');
}

.Tree-collectionLabel span::before {
  display: none;
}

.Tree-collectionLabel span::after {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0.75rem;
  height: 0.75rem;
  background-image: url(../img/icon-navigation-opened.svg);
  background-size: 0.8rem;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0.6;
  content: "";
}

[dir="ltr"] .Tree-collectionLabel span::after {
  right: map-get($ecl-spacing, 's');
}

[dir="ltr"] .Tree-collection.is-closed .Tree-collectionLabel span::after {
  background-image: url(../img/icon-navigation-closed-ltr.svg);
}

/* Components search */
#search-components {
  font-family: $ecl-font-family-base;
  padding: map-get($ecl-spacing, 'xxs');
  width: 100%;
}

.Tree-search {
  padding: 0 map-get($ecl-font-size, 's');
}

.Document {
  margin: auto;
  max-width: 70rem;
  padding: map-get($ecl-spacing, 'xl') map-get($ecl-spacing, 'l');
}

.Prose {
  max-width: 60rem;
}

.Pen-header {
  padding: map-get($ecl-spacing, 'm') map-get($ecl-spacing, 's');
}

.Pen-title {
  font: inherit;
}

.Pen-previewLink {
  font-size: map-get($ecl-font-size, 'l');
}

.Pen-tabs-nav {
  margin: 0 map-get($ecl-spacing, 's');
  font-size: map-get($ecl-font-size, 'l');

  a,
  a:link {
    color: $ecl-color-primary;

    &:hover,
    &:focus {
      color: $ecl-color-shade;
    }
  }
}

.Pen-tabs-nav .active {
  font-weight: 600;
}

.Pen-tabs {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  height: 100%;
  position: relative;
}

.Pen-documentation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0 map-get($ecl-spacing, 'xxs');
}

.Pen-playground {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Pen-tabs > div:not(.active) {
  display: none;
}

.Header-title {
  line-height: 2.5;
}

[dir='ltr'] .Tree-entityLink .Status,
[dir='ltr'] .Tree-collectionLabel .Status {
  margin-left: 0;
  margin-right: map-get($ecl-spacing, 'xxs');
}

[dir='ltr'] .Tree-collectionLabel {
  display: flex;
  padding-left: map-get($ecl-spacing, 's');
  align-items: center;
}

[dir='ltr'] .Tree-collectionLabel > span {
  flex-grow: 1;
}

.Tree-collectionLabel span {
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  padding-inline-start: 0;
  -webkit-margin-start: 0;
  -moz-margin-start: 0;
  margin-inline-start: 0;
  display: block;
  position: relative;
}

.Tree-collectionLabel .Status span {
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  padding-inline-start: 0;
  -webkit-margin-start: 0;
  -moz-margin-start: 0;
  margin-inline-start: 0;
  display: block;
  position: relative;
}

.Tree-collectionLabel .Status span::after {
  display: none;
}

[dir="ltr"] .Tree-collectionLabel span {
  margin-left: 0;
}

[dir="ltr"] .Tree-collectionLabel span {
  padding-left: 0;
}

.Tree-title {
  font-family: $ecl-font-family-base;
  font-size: map-get($font-size, 's');
}
