<!-- Expandable link -->

<div>
  <a
    aria-controls="example-expandable-2"
    aria-expanded="false"
    class="ecl-link ecl-expandable__button"
    href="#"
    id="example-expandable-button-2"
  >
    Expandable link
  </a>
  <div
    aria-hidden="true"
    aria-labelledby="example-expandable-button-2"
    id="example-expandable-2"
  >
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
  </div>
</div>
